<!-- Call to action Start -->
<section id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>We create custom medical and financial software applications.</h2>
                    <p>Read more about what we do and our philosophy. Judge for yourself the work and results we’ve achieved for other clients, and meet our highly experienced team.</p>
                    <br/>
                    <a class="btn btn-default btn-call-to-action btn-action"
                        href="/get-started-now/">Tell Us Your Story</a>
                </div>
            </div>
        </div>
    </div>
</section>
