<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-menu">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/portfolio/">Portfolio</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/get-started-now/">Get Started Now</a></li>
          </ul>
        </div>
        <p>Copyright &copy; Civic Labs. Developed by <a href="https://www.civiclabs.com">Civic Labs</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
