<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-manu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/portfolio/">Portfolio</a></li>
                        <li><a href="/contact/">Contact</a></li>
                        <li>
                            <a target="_blank"
                               href="https://www.getdrip.com/forms/38908131/submissions/new">Newsletter</a>
                        </li>
                        <li><a href="/get-started-now/">Get Started Now</a></li>
                    </ul>
                </div>
                <p>Copyright &copy; Civic Labs. Developed by <a href="https://www.civiclabs.com">Civic Labs</a>. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
<form style="display: none;"
      action="https://www.getdrip.com/forms/38908131/submissions"
      method="post"
      data-drip-embedded-form="38908131">
    <h3 data-drip-attribute="headline">Newsletter Signup</h3>
    <div data-drip-attribute="description">Care to know why Haskell and Coq software products are your best bet for delivering the absolute finest financial and medical applications?</div>
    <div>
        <label for="fields[email]">Email Address</label><br />
        <input type="email" name="fields[email]" value="" />
    </div>
    <div>
        <input type="submit" name="submit" value="Sign Up" data-drip-attribute="sign-up-button" />
    </div>
</form>

{% javascript js/vendor/bootstrap.min %}
{% javascript js/vendor/plugins %}
{% javascript js/vendor/jquery.counterup %}
{% javascript js/vendor/waypoints.min %}
{% javascript js/vendor/owl.carousel.min %}
{% javascript js/main %}
