<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}

{% stylesheet css/bootstrap.min %}
{% stylesheet css/responsive %}
{% stylesheet css/animate %}
{% stylesheet css/ionicons.min %}
{% stylesheet css/font-awesome.min %}
{% stylesheet css/owl.carousel %}
{% stylesheet css/syntax %}
{% stylesheet css/airspace %}
{% stylesheet css/style %}

<link rel="icon" href="/favicon.ico" type="image/x-icon" />

{% javascript js/vendor/jquery-1.10.2.min %}

{% include analytics.html %}
