---
layout: page
---
<div class="post">
    <section id="intro" style="border: 1px dotted #ddd;">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="block">
                        <img style="padding-left: 0" src="/img/{{ page.img }}" alt="Post image">
                        <h1>{{ page.title }}</h1>
                        <div class="post-info-wrapper">
                            <p class="italic">By <span class="bold">{{ page.author }}</span> on <span class="bold">{{ page.date | date: "%B %-d, %Y" }}</span>
                            </p>
                        </div>
                        <hr />
                        {{ content }}
                    </div>
                </div>
                <div class="col-md-3">
                    {% include blog-sidebar.html %}
                </div>
            </div>
        </div>
    </section>
</div>
<p class="center-text" style="padding: 30px;">
    <a href="/blog">Back to blog</a>
</p>
