---
layout: page
---
<div class="post">
    <section id="intro" style="border: 1px dotted #ddd;">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="block">
                        <img style="padding-left: 0" src="/img/{{ page.img }}" alt="Post image">
                        <h1>{{ page.title }}</h1>
                        <div class="post-info-wrapper">
                            <p class="italic">By <span class="bold">{{ page.author }}</span> on <span class="bold">{{ page.date | date: "%B %-d, %Y" }}</span>
                            </p>
                        </div>
                        <hr />
                        {{ content }}
                        <div style="padding: 30px; background-color: rgba(128, 128, 128, 0.07); margin-top: 50px; margin-bottom: 50px;">
                            <div class="row">
                                <div class="col-md-2" style="text-align: center;">
                                    <img class="img-circle" style="height: 100px; width: 100px; padding: 0;" src="/img/stiles-profile.jpg">
                                </div>
                                <div class="col-md-10">
                                    <h5>Brandon Stiles</h5>
                                    Civic Labs Founder and Software Engineer. Pragmastist interested in Haskell and Coq, as well as creating software for the Financial and Medical industries.
                                </div>
                            </div>
                        </div>
                        <br/>
                        {% include discuss.html %}
                    </div>
                </div>
                <div class="col-md-3">
                    {% include blog-sidebar.html %}
                </div>
            </div>
        </div>
    </section>
</div>
<p class="center-text" style="padding: 30px;">
    <a href="/blog/">Back to blog</a>
</p>
