---
layout: page
title: Blog
permalink: /blog/
---
<!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>Get the latest on what we're doing</h1>
                    <p>Catch up with us, anytime and anywhere</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    {% for post in site.posts %}
    <div class="post-area">
        <a href="{{ post.url }}" class="bold">{{ post.title }}</a>
        {% capture time %}{{ content | reading_time }}{% endcapture %}
        <p class="post-date">{{ post.date | date_to_long_string }}</p>
        <p><i>{{ time }} {% if time == '1' %}minute{% else %}minute{% endif %} read</i></p>
        <p>
        {{ post.teaser | strip_html }}
        </p>
    </div>
    {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
