---
layout: page
title: Civic Labs - About
permalink: /team/
---

<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>Team</h1>
                    <p>Employees and advisors.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-6 col-lg-6">
                <div class="block">
                    <div class="section-title">
                        <h2>Brandon Stiles</h2>
                        <h3>Founder and CEO</h3>
                    </div>
                    {% capture stiles %}{% include stiles.md %}{% endcapture %}
                    {{ stiles | markdownify }}
                </div>
            </div>
	       <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="block">
                    <div class="section-title">
                        <h2>Roy Blankman</h2>
                        <h3>Advisor</h3>
                    </div>
                    {% capture blankman %}{% include blankman.md %}{% endcapture %}
                    {{ blankman | markdownify }}
                </div>
            </div>
	</div>
    </div>
</section>
